body {
    background: lightblue;
}
h1 {
    margin: auto;
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    background-color: white;
}
div {
    display: block;
    text-align: center;
    margin: auto;
}
p {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    display: inline;
    padding: 20px;
    font-size: xx-large;
}
#red {
    color: red;
}
#orange {
    color: orange;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}
#blue {
    color: blue
}
#purple {
    color: purple;
}
#pink {
    color: pink;
}